<!-- your html code here -->
<section class="row" id="firstHeading">
  <div class="col-md-7 col-12">
    <h1>This First Headign <span class="text-secondary">Will Catch Your Eye</span></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi incidunt maiores tempora, dolor eveniet hic odio
      dolorum? Ipsam unde impedit mollitia sint voluptates ea? Et, ad! Doloremque voluptatum illum incidunt! Lorem,
      ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <figure class="col-md-5 col-12 h-100 text-center">
    <img src="/website/assets/img/1.jpg" alt="Breaking Bad illustration" class="rounded-circle w-75 ratio-1x1">
  </figure>
</section>