<!-- your html code here -->

<div class="container pb-3">
    <h1>Portfolio</h1>
    <h4>Lorem Ipsum is simply dummy text of the printing and 
        typesetting industry. Lorem Ipsum has been the industry's
         standard dummy text ever since the 1500s, when an unknown 
         printer took a galley of type and scrambled it to make 
         a type specimen book. It has survived not only five 
         centuries, but also the leap into electronic typesetting, 
         remaining essentially unchanged. It was popularised</h4>
</div>
<div class="container d-flex justify-content-between mb-5">
    <div class="card" style="width: 26rem;">
        <img src="https://picsum.photos/700/400" class="card-img-top" alt="una foto a color">
        <div class="card-body">
          <h3 class="card-title text-primary">Project Name</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 26rem;">
        <img src="https://picsum.photos/700/400?blur" class="card-img-top" alt="una foto con blur">
        <div class="card-body">
          <h3 class="card-title text-primary">Project Name</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 26rem;">
        <img src="https://picsum.photos/700/400?grayscale" class="card-img-top" alt="una foto en blanco y negro">
        <div class="card-body">
          <h3 class="card-title text-primary">Project Name</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

</div>